{% extends 'patient_base.html' %}

{% block content %}


<!-- ================ Doctors request Details List ================= -->
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Doctors Requested</h2>

        </div>

        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>

                <td>gender</td>
                <td>Phone Number</td>
                <td>Status</td>
                <td></td>
                <td></td>


            </tr>
            </thead>

            <tbody>
            {% for doctor in medical_report_request_doctors %}
            <tr>
                <td>{{ doctor.id }}</td>
                <td>{{ doctor.requested_by.user.username }}</td>
                <td>{{ doctor.requested_by.user.email }}</td>

                <td>{{ doctor.requested_by.gender }}</td>
                <td>{{ doctor.requested_by.phone_number }}</td>
                <td>
                    {% if doctor.status == 'pending' %}

                    <span class="status pending">{{ doctor.status }}</span>
                    {% elif doctor.status == 'rejected' %}
                    <span class="status return">{{ doctor.status }}</span>
                    {% else %}
                    <span class="status delivered">{{ doctor.status }}</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'patient_accept_reject' 'accepted' doctor.id %}" class="buttonView">
                        Accept
                    </a>

                </td>
                <td>
                    <a href="{% url 'patient_accept_reject' 'rejected'  doctor.id %}" class="buttonView">
                        Reject
                    </a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

</div>

{% endblock %}